<h2>Beer Styles - Show</h2>
<container class='siz40l'>
  <div>
    <p>Style: <%= @beer_style.style %></p>
    <p>Style Note: <%= @beer_style.style_note %></p>
    <p>Default Flavour Value: <%= @beer_style.beer_flavour_val %></p>
  </div>
</container>