<h2>Food Styles - Show</h2>
<container class='siz30l'>
  <div>
    <p>Cuisine/type: <%= @food_style.style %></p>
    <p>Cuisine Notes  : <%= @food_style.style_note %></p>
    <p>Flavour Val: <%= @food_style.food_flavour_val %></p>
  </div>
</container>