<h1>Hello Beer and food</h1>

<% form_tag foods_path, :method => 'get'  do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "submit" %>
  </p>
<% end %>

  <div>
    <% @foods.each do |food| %>
      <div class="food_list_div">
        <ul class="ul_list">
          <li><%= link_to(food.name, food_path(food.id), :class => 'link_line' )%></li>
        </ul>
      </div>
    <% end %>
  </div>

<%= select_tag "food_id", options_from_collection_for_select(Food.all, "id", "name") %>

  