/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.*/

 html { 
  /*background: url(back-ground-1.jpg) no-repeat center center fixed; */
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background-color: #37424e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-image: url("header_image.png");
  background-color: #37424e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  border-width: 1px;
  border-style: solid;
  border-color: #d8e7f3;*/
  height:300px;
}

body {
  /*background-color: #d8e7f3;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  background-image: url("beer_footer.png");
  background-color: #37424e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  border-width: 1px;
  border-style: solid;
  border-color: #d8e7f3;*/
  height:300px;
}

/* the 'main-container essentially encompasses the body between the header and footer*/
.main-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f6fafe;
  background-color: #37424e;
  padding:2%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

/*Page titles*/
.page_hdr {
  color: white;
}

/*  Century Gothic*/

h1 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 34.3999996185303px;
}
h2 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}
h3 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 20.3999996185303px;
}

.review {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;

}

.under {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: grey;
}

/*======== nav bar container for app pages ====================*/

#navcontainer-placeholder {
    height:40px;
    width:100%;
    display:none;
}

#navcontainer ul
{
vertical-align: bottom;
padding-left: 0;
margin-left: 0;
background-color: #37424e;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: #37424e;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color: #369;
color: #fff;
}

/*=========== end of nav bar container ===========*/

/*==== to fix nav just below  header (Sticky Nav)============*/
.f-nav{  /* To fix main menu container */
    z-index: 9999;
    position: fixed;
/*    left: 0;*/
    top: 0px;
    width: 100%;
    padding:15px;
    margin:0;
}
.f-nav-o{  /* To fix main menu container */
    z-index: 9999;
    position: static;
/*    left: 0;*/
    width: 100%;
    padding:15px;
    margin:0; 
}
/*====== end of fix nav ========================*/
.navlist {
  background-color: #37424e;
  padding:15px;
  margin:0;
}

.navmenu {
  background-color: #37424e;
  padding:0;
  margin:0; 
}


/*=========== start of lists, eg Foods, Beers, Styles etc*/

.ul_list {
  list-style-type: none;
  padding:0;
  margin:0;
}
.ul_list_frm {
  list-style-type: none;
  padding:0;
  margin:0;
}


.link_line {
  display:block;
  background:#f6fafe;
  width:320px;
  text-decoration:none;
  padding:4px/*padding for top, bottom*/ 7px /*padding for left, right*/;
  border-bottom:1px solid #eeeeee;
  border-top:1px solid #cccccc;
  border-left:5px solid #c1c4cd;
  color:black;
/*  background-color: rgba(50,60,70,0.7);*/
}

.link_line:hover {
  border-left-color:#4a4f5e;
  color:#523a14;
  background:#c5ccd3;
}

/*============end of lists ==============================*/

/*===== Containers Names indicate percentage Width ======*/

.siz20l {
  width:20%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  background-color: #f6fafe;
  margin-right: -4px;
}

.siz30l {
  width:30%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  background-color: #f6fafe;
  margin-right: -4px;

}
.siz30r {
  width:30%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 2px;
  background-color: #f6fafe;
  margin-right: -4px;
}
.siz40l {
  width:37%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  background-color: #f6fafe;
  margin-right: -4px;

}
.siz40r {
  width:40%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  background-color: #f6fafe;
  margin-right: -4px;
}
.siz60l {
  width:60%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  background-color: #f6fafe;
  margin-right: -4px;
}
.siz60r {
  width:60%;
  padding:1%;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  background-color: #f6fafe;
  margin-right: -4px;
}
.not-inline {
  display: block;
}

/*============ end of containers ========================*/


/* used when toggle between 'hidden' or 'active' for forms*/
 .hidden {
  display: none;
 }

/* shows on mouseover on list item */
 #popup {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    position: absolute;
}

.info_img {
  max-height: 200px;
  max-width: 300px;
  margin-left:2%;
  margin-bottom:2%;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #8aa7bc;
}

.beer_img {
  max-height: 100px;
/*  max-width: 250px;*/
  margin-left:1%;
  margin-bottom:1%;
  border-style: solid;
  border-width: 1px;
  border-color: #8aa7bc;
/*  float: right;*/
}

/*  ==  form stuff here ====*/

.form-select-b {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 90%;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('select-icon.png') 96% / 15% no-repeat #eee;
}

.form-select-f {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 90%;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('food-icon.svg') 96% / 15% no-repeat #eee;
}

.input1 {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 90%;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input2 {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 90%;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 140px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.submit_it {
    margin:7px;
    background-color: #b1cc99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



.submit_it:hover {
    margin:7px;
    border: none;
    color: white;
    background:green;
    box-shadow: 0px 0px 1px #777;
}

  
