<!DOCTYPE html>
<html>
<head>
  <title>Beerapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <container class='nav_cont'>
      <nav>
        <li class='nav_menu'><a href="/">Home</a></li>
        <li class='nav_menu'><a href="/food_styles">Food Styles</a></li>
        <li class='nav_menu'><a href="/beer_styles">Beer Styles</a></li>
        <li class='nav_menu'><a href="/beers">Beers</a></li> 
      </nav>
    </container>
    <container class='nav'>
  </header>

<%= yield %>

</body>
</html>
